# --- Dépendances principales ---
#selenium
#undetected-chromedriver
boto3
openai
requests
setuptools==68.2.2
wheel
selenium==4.21.0
undetected-chromedriver==3.5.5
webdriver-manager
# --- Gestion du hot-reload ---
watchdog

# --- Outils annexes (utilisés par plusieurs modules) ---
pillow              # pour les captures d'écran (via screenshot_analyzer)
numpy               # utile si tu fais du traitement image/texte
tqdm                # pour les barres de progression (optionnel)
beautifulsoup4      # parsing HTML si ajouté plus tard

# --- (optionnel mais recommandé pour ECS / cloud) ---
urllib3>=1.26.0
certifi
pproxy
playwright

google-cloud-firestore