__pycache__/
*.pyc
*.pyo

.venv/
venv/
.venv-wsl

.vscode/
.DS_Store

*.log
logs/
tmp/
*.pid

snapshots
snapshots/
debug_*.html
surveybot/Utils/config

surveybot/README
surveybot/nul

surveybot/tools/attach_tab
surveybot/tools/attach_tab.ps1

surveybot/preselection/_license_config.py
surveybot/_license_config.py

dist/
build/
*.spec
global_config.py
accounts.json
manifest.json
receiver_config.json
dist_nuitka/
*.dist/
*.build/
*.onefile-build/
*.pyd
.nuitka_cache
.nuitka_cache/
dist_nuitka_dev/
./tools/attach_tab.ps1
dist_zip/
dist_orchestration/
surveybot/Utils/plan_diagnostic_cisnet_fingerprint.md